
     *{
      margin: 0;
      padding: 0;
    }
     body {
        background-color: #E8F9FD;
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: black;

      }

     

      #amor{
        color: green;
        
      }

      #list-style{
        font-style: italic;
        line-height: 30px;
       
      }

      p{
        line-height: 30px;
      }

     