
body {
  background: linear-gradient(68.15deg, #DF7861 16.62%, #ECB390 85.61%);
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
}

#amor {
  color: green;
}

#list-style {
  font-style: italic;
  line-height: 30px;
}

p {
  line-height: 30px;
}

.imagem-redonda {
  /* border-radius: 50% 10% 25% 5%; */
  border-radius: 50%;
}

/*.inicio {
  background-image: url(wall.jpg);
  background-size: cover;
}*/

#list-style2 > li:hover {
  background-color: black;
  padding: 10px;
  
}

